<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SERVER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d [%thread] [%level] [%logger] %msg%n</pattern>
        </encoder>
        <file>${LOG_DIR}/spexregister-application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM, aux}/spexregister-application-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <springProfile name="local | test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d [%thread] [%level] [%logger] %msg%n</Pattern>
            </layout>
        </appender>
    </springProfile>
    <root level="INFO">
        <springProfile name="!test">
            <appender-ref ref="SERVER_LOG"/>
        </springProfile>
        <springProfile name="local | test">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
